// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
	padding: 40px 0 0 0;
 }
 	.logo{
 		text-decoration: none;
 		em{
 			font-size: 12px;
 			font-weight: bold;
 			color: #2b2b2b;
 			font-style: italic;
 			display: block;
 			line-height: 18px;
 			padding-bottom: 13px;
 			font-family: $fontfamily;
 		}
		strong{
			color: #2b2b2b;
			font-size: 24px;
			font-style: italic;
			font-weight: 700;
			span{
				font-weight: 300;
			}
		}
 	}
 	.menu{
 		li{
 			display: inline-block;
 			vertical-align: top;
 			width: 115px;
 			a{
 				color: #2b2b2b;
 				font-size: 11px;
 				line-height: 18px;
 				text-decoration: none;
 				&:hover{
 					text-decoration: underline;
 				}
 			}
 		}
 	}
 	.francaise{
 		display: block;
 		padding: 15px 0 0 0;
 		font-size: 12px;
		font-weight: bold;
		color: #2b2b2b;
		font-style: italic;
		line-height: 18px;
		text-decoration: none;
		font-family: $fontfamily;
		&:hover{
			text-decoration: underline;
		}
 	}
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
	padding: 40px 0;
 }
	
	.tile_main{
		@include povh('');
		.row{
			padding-bottom: 15px;
		}
	}
		.tile_item{
			display: block;
			@include povh('');
			&.gray{
				background:#e9e9e9;
			}
		}
			.tile_center_inner{
				vertical-align: middle;
				width: inherit;
				height: inherit;
				display: table-cell;
				box-sizing: border-box;
			}
			.tile_main_txt{
				height: 520px;
				.tile_center_inner{
					padding: 16px;
				}
				h1{
					padding-bottom: 22px;
					font-size: 41px;
					line-height: 1.1;
					font-weight: 300;
					color: #2b2b2b;
					strong{
						display: block;
						font-weight: 500;
					}
				}
				line-height: 24px;
				font-size: 20px;
				color: #7f7b78;
			}
		.tile_link_block{
			height: 250px;
			.tile_center_inner{
				padding: 0 27px;
			}
		}
			.tile_link{
				color: #202427;
				& > em{
					display: block;
					padding-bottom: 14px;
					font-size: 12px;
					color: #202427;
					font-style: normal;
				}
				strong{
					display: block;
					padding-bottom: 25px;
					font-size: 21px;
					a{
						font-size: 21px;
					}
				}
				& > a{
					text-decoration: none;
					em{
						display: block;
						font-style: normal;
						font-size: 14px;
					}
				}
			}

/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	padding-bottom: 30px;
	address{
		color: #7b7b82;
		font-size: 10px;
		display: block;
		font-style: normal;
		padding-top: 50px;
	}
 }

/*----------end footer----------*/